{% load static %}
<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="200px" src="{{listing.seller.photo.url }}" role="img"
    aria-label="Placeholder: Thumbnail" focusable="false">
    <div class="card-body">
        <h4 class="card-text">{{listing.model}}</h4>
    </div>
    <div class="row justify-content-start align-items-center">
        <div class="col-1">
            {% if listing.seller.photo %}
                <img src="{{ listing.seller.photo.url }}" class="rounded-circle" height="30" width="30"
                    style="object-fit: cover;" alt="{{ listing.seller.user.username }}'s profile photo">
            {% else %}
                <img src="" class="rounded-circle" height="30" width="30"
                    style="object-fit: cover;" alt="Default profile photo">
            {% endif %}
        </div>
        <div class="col-4">
            <p class="card-text">{{listing.seller.user.username}}</p>
        </div>
    </div>
</div> 
<br>
        <p class="card-text">{{listing.description}}</p> 
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                
                <a href="{% url 'listing' id=listing.id %}" type="button"
                    class="btn btn-sm btn-outline-secondary">View</a>
                    {% if listing.decision == "pending" %}
                        {% if request.user.is_staff %}
                            <form method="post" action="{% url 'accept_listing' id=listing.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-sm">Accept</button>
                            </form>
                            <form method="post" action="{% url 'refuse_listing' id=listing.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Refuse</button>
                            </form>
                            
                        {% endif %}
                        
                    {% endif %}


                    {% if request.user.is_staff %}
                
                <a href="{% url 'edit' id=listing.id %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                <form method="post" action="{% url 'delete_listing' listing.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg></button>
                </form>
                {% endif %}
            </div>
            <!--<small class="text-muted">{{listing.updated_at}}</small>-->
            <button id="like_{{listing.id}}" type="button" value="like" class="btn btn-secondary">
                {% if listing.id in liked_listings_ids %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                    </path>
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                    </path>
                </svg>
                {% endif %}
            </button>
        </div>
        {% if listing.decision == "pending" %}
                        
                        <p class="text-warning">Your demand is {{ listing.decision }}</p>
                    {% elif listing.decision == "accepted" %}
                        <p class="text-success">Your demand has been {{ listing.decision }}</p>
                    {% else %}
                        <p class="text-danger">Your demand has been {{ listing.decision }}</p>
                    {% endif %}
<script>
    $("#like_{{listing.id}}").click(function () {
        $.ajax({
            type:"POST",
            url:"{% url 'like_listing' id=listing.id %}",
            data:{'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:"json",
            success: function(r) {
                $("#like_{{listing.id}}").find("svg").attr("fill", r.is_liked_by_user ? "red" : "black");
             },
            error: function(rs, e) {
                alert(e);
             }
        });
    })
</script>